
*{
  box-sizing: border-box;
  margin: 0;
}
body{
  text-align: center;
  background-image: linear-gradient(rgb(149, 210, 221)5%,rgb(233, 119, 119) 40%,white);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  line-height: 3;
}
h1{
  letter-spacing: 5px;
}
